extends ../layouts/layout.pug

block append head 
    - var isProfilePage = true

block content
    main 
        article
            .content-wrapper-border
                .content-wrapper
                    section#user-profile
                        img(src="/images/games-cover/pokemonred.jpg", class="profile-pic")
                        .profile-data
                            h3 #{user_data.username}
                            if !user_data.user_bio
                                p Nothing to display here...
                            else
                                p #{user_data.user_bio}
                            .profile-buttons
                                a(href=`/uploadPFP/${user_data.user_id}`)
                                    button Edit profile pic
                                a(href=`/add_edit_bio/${user_data.user_id}`)
                                    button Add / Edit bio 
                                a(href="/auth/logout" method="GET")
                                    button Log out
            .content-wrapper-border
                .content-wrapper
                    h3 My games
                    #profile-linked-games

block scripts
    script.
        var username = '#{user_data.username}';
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - ' + username;
        document.title = newTitle;

        document.addEventListener('DOMContentLoaded', function() {
            searchUserGames();
        })
