extends layout.pug

block content
    main
        article
            div.main-carousel(data-flickity='{ "wrapAround": true, "contain": true, "autoPlay": 2200, "pageDots": false, "prevNextButtons": false }')
                for i in [1, 2, 3, 4]
                    .carousel-cell
                        img(src=`/images/home-slider/test${i}.jpg`, class="carousel-slide")
            p#quote-home Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nesciunt optio dolorem tempore, repellendus voluptate. Ipsa, eaque! Alias culpa modi provident ea, omnis, amet doloribus quae sed accusantium saepe quidem!
            p#quote-home
                i - Chema, el de Aida -
        .content-wrapper-border 
            .content-wrapper
                section#news
                    h2 News! 
                    p There is still nothing to show here, but stay tuned!
        .content-wrapper-border 
            .content-wrapper
                h2 Try some games!
                if featured.length > 0
                    for game in featured
                        section.game-block
                            .game-desc 
                                img(src=`${game.game_cover}`, class="game-image")
                                div.game-desc-txt
                                    h3 #{game.game_name}
                                    p #{game.game_description}
                                    a(href=`/games/${game.game_id}`)
                                        button Play
                else
                    h2 There's nothing to show here yet
        .content-wrapper-border 
            .content-wrapper 
                section 
                    h2 About us
                    p Timeshift Arcade is a project created by a group of programming students that consists of providing a game service developed to work exclusively on the web. Timeshift works as a social network that also provides the opportunity to play classic video games within the most legendary sagas in the world such as Pokemon, Super Mario, The Legend of Zelda, Metal Gear Solid, Metroid and more. The games are remakes with graphic and mechanical arrangements to be able to play them comfortably and enjoy them. Timeshift also has a trophy and level system for each user within each game.
block scripts
    script.
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - Home';
        document.title = newTitle;

        // Check if the loginSuccess query parameter is present in the URL
        const urlParams = new URLSearchParams(window.location.search);
        const loginSuccess = urlParams.get('loginSuccess');

        const alertShown = localStorage.getItem('loginAlertShown');

        // If loginSuccess is 'true' and alert has not been shown before, display the alert
        if (loginSuccess === 'true' && !alertShown) {
            alert('Login successful!');
            // Set a flag in local storage to indicate that the alert has been shown
            localStorage.setItem('loginAlertShown', 'true');
        }