extends ../layouts/layout.pug 

block content
    main 
        article
            h2 #{games[0].category_name} games
            #games-by-category-container.content-wrapper-border 
                .content-wrapper
                    if games.length > 0
                        for game in games 
                            section.game-block
                                .game-desc 
                                    img(src=`${game.cover_path}`, class="game-image")
                                    div.game-desc-txt
                                        h3 #{game.game_name}
                                        p #{game.game_description}
                                        a(href=`/games/${game.game_id}`)
                                            button Play
                    else
                        h2 There's nothing to show here yet
block scripts
    script.
        var category_name = '#{games[0].category_name}'
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - ' + category_name + ' games';
        document.title = newTitle;