extends ../layouts/layout.pug

block append head
    script(src='/js/phaser.js')

block content
    main
        article
            .content-wrapper-border
                #game-view-container.content-wrapper
                    h2 #{game.game_name}
                    #game-view
                        .placeholder Pr贸ximamente...
            .content-wrapper-border
                .content-wrapper
                    h2 How to play
                    p.htp-txt #{game.htp}
            .content-wrapper-border
                .content-wrapper
                    h2 Synopsis
                    p.htp-txt #{game.game_description}

block scripts
    script.
        var game_name = '#{game.game_name}';
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - ' + game_name;
        document.title = newTitle;

        // L贸gica para manejar la carga del archivo del juego
        document.addEventListener('DOMContentLoaded', function() {
            var script = document.createElement('script');
            script.src = '#{game.localpath}';
            script.onload = function() {
                // Remueve el mensaje de "Pr贸ximamente..." si el script se carga correctamente
                var placeholder = document.querySelector('#game-view .placeholder');
                if (placeholder) {
                    placeholder.style.display = 'none';
                }
            };
            script.onerror = function() {
                // Muestra el mensaje de "Pr贸ximamente..." si el script no se carga
                var placeholder = document.querySelector('#game-view .placeholder');
                if (placeholder) {
                    placeholder.style.display = 'block';
                }
            };
            document.head.appendChild(script);
        });