extends ../layouts/layout-admin.pug

block content 
    main
        article
            .content-wrapper-border
                .content-wrapper(style="display: flex; justify-content: center; align-items: center;")
                    form.form(action=`/admin_panel_users/edit_action/${user_data.user_id}` method="POST" autocomplete="off" style="margin: 20px 0 20px 0;")    
                        h2 Edit user
                        div#register
                            input(type="text", name="username", placeholder="Username", value=`${user_data.username}`)
                            input(type="email", name="email", placeholder="Email", value=`${user_data.email}`)
                            input(type="password", name="password", placeholder="Password")
                            select(name='user_role')
                                option(value=`${user_data.user_role}` selected disabled hidden)
                                option(value= 0) Banned
                                option(value= 1) User
                                option(value= 2) Mod
                                option(value= 3) Admin

                        div#create-btn-container
                            button#edit-btn(type="submit") Edit
                            a(href="/admin-panel")
                                button(type="button") Cancel
    br
    br
    br
    br
    br
    br
    br
block scripts
    script.
        var username = '#{user_data.username}';
        var newTitle = 'Edit ' + username;
        document.title = newTitle;